


#header-bg{

    background-image: url('../image/header-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /*padding: 1px;*/
    color: white;
    height: 294px;


}

#border-col-6{
    border: 1px solid grey;
}

/*#mobile{*/
    /*background-image: url('../image/mobile.png');*/
    /*!*padding-bottom: 400px;*!*/
/*}*/

#carousel-bg{
    background-image: url('../image/crousel-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 400px;
    max-height: 80px;
}

/*footer-box*/

/*#footer-box{*/
/*background-image: url('../image/footer-box.jpg');*/
    /*height: 400px;*/
    /*background-size: cover;*/
    /*background-position: center;*/
    /*!*background-repeat: no-repeat;*!*/
    /*!*background-attachment: fixed;*!*/
    /*!*background-size: cover;*!*/
    /*!*-webkit-background-size:cover;*!*/
    /*!*-moz-background-size:cover;*!*/
    /*!*-o-background-size:cover;*!*/
    /*!*background-size:cover;*!*/
    /*!*background-position:center;*!*/
    /*!*background-repeat:no-repeat;*!*/
    /*!*background-size:contain;*!*/
    /*!*background-position:center;*!*/

/*}*/

/*row margin*/
row {
    margin-right: 25px!important;
    margin-left: -15px!important;
    padding-top: 46px;
}

#fearured-box-alignment{
    /*margin-right: 0px!important;*/
    background-color: #f1f1f1;
    padding-top: 53px;
    padding-bottom: 73px;

}


/* Add a slash symbol (/) before/behind each list item */
.breadcrumb {
    padding: 8px 15px;
    margin-bottom: 8px!important;
    list-style: none;
    background-color: #000000!important;

    border-radius: 4px;
    letter-spacing: -1px!important;
}
ul.breadcrumb li {
    display: inline;
    font-size: 16px;
}
ul.breadcrumb li+li:before {
    padding: 5px;
    color: #322b2b;
    content: "/\00a0";
    font-size: 25px;
}

#text-right{
    text-align: right!important;
}
/*for banner heading*/
.jumbotron {

    background-color: transparent!important;
}
#image-text  {

position: relative;


}
/*for banner heading  end*/

li a {
    color: #ffffff!important;
    text-decoration: none;
    padding: 15px 15px 0px 0px!important;
}
a {
    color: #d22341!important;
    text-decoration: none;
}


#seperator{

padding-left: 10px!important;

}

 /*a + a::before {*/
    /*content: " | ";*/
    /*font-size: 40px;*/
    /*color:grey;*/

/*}*/


/*---------for anchor tag seperator and div margin--------*/
.text-center {

    padding: 0.0833in;
}


/*for mobile logo adjustment*/

#adjust-mobile-logo{
    padding: 363px 0px 0px 651px;
}

#hex-row-adjust{
    padding: 40px 0px 0px 111px;
    /*margin: 34px 0px 2px 6px;*/
}


/*for corusel glyphicon adjustment*/
#icon {

    top: 99px;

    color: white!important;
    font-size: 52px!important;
}

.fa {
    padding: 2px!important;
    font-size: 10px;
    width: 13px;
    text-align: center;
    text-decoration: none;
    margin: 0px 0px;
}
.fa-facebook {
    background: #3B5998;
    color: white;
    margin: 0px 3px;
}
.navbar {

    margin-bottom: 0px!important;
    border-radius: 0px!important;


}

#myNavbar{
    font-size: 8pt;
}
